<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Search results for: "<%= search %>"</h2>
    
    <div class="page-container">
        <div class="notes-section">    
            <% for (let note of notes) { %>
                <div class="box" style='background-color: <%= note.color || "#FDFAF4" %>;'>
                    <%- include("partials/noteCard", { note }) %>
                </div>
            <% } %>
        </div>
            
    </div>
    <%- include("partials/footer") %>
</body>

</html>