<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h2>Search results for: "<%= search %>"</h2>
    <div class="outer-box">

        <% for (let note of notes) { %>

            <div class="box">
                <%- include("noteCard", { note }) %>
            </div>
            <% } %>
    </div>

</body>

</html>