* {
    box-sizing: border-box;
}

.heading {
    border: 2px solid #000;
    border-radius: 15px;
    display: flex;
    line-height: 50px;
    justify-content: center;
    margin: 10px;
}

.outer-box {
    margin: 10px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
}

.notes-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 270px));
    gap: 15px;
    justify-content: start;
}

.box {
    width: 270px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.pinned {
    border: 2px solid gold;
    background-color: #fff8dc;
}

.note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-footer {
    display: flex;
    justify-content: center;
}